version: '3'
services:
  db:
    container_name: db
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - ./data:/var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    depends_on:
      - db
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
  storybook:
    container_name: storybook
    build: .
    ports:
      - "6006:6006"
    depends_on:
      - db
    command: npm run storybook
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NODE_ENV=development